.hpgv_ui-block {
    color: #e8e8e8;
    background-color: #171615;
    font-size: 12px;
    border-radius: 8px;
    box-sizing: border-box;
}

.hpgv_panel-header {
    font-weight: 200;
}

.hpgv_track-header {
    font-size: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.hpgv_track-close-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.hpgv_track-add-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.hpgv_track-expander {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    padding: 4px;
    cursor: pointer;
    line-height: 0;
}

.hpgv_track-expander > svg {
    display: block;
}

/* The following are draw via WebGL, so only the properties CSS used here can be changed */
.hpgv_panel {
    --axis: black;
}

.hpgv_track {
    background-color: #191919;
    --axis: white;
    --loading-indicator: white;
    --cursor: rgba(255, 255, 255, 0.8);
    --secondary-cursor: rgba(52, 52, 52, 0.6);
    --text: white;
}

.hpgv_track-annotation {
    --transcript-arrow: rgba(138, 136, 191, 0.38);
    --transcript: rgba(107, 109, 136, 0.17);
    --coding: rgba(26, 174, 222, 0.58);
    --non-coding: rgba(82, 75, 165, 0.4);
    --untranslated: rgba(138, 136, 191, 0.38);
}

.hpgv_track-sequence {
    --nucleobase-a: #371051;
    --nucleobase-t: #333367;
    --nucleobase-c: #0B8F9B;
    --nucleobase-g: #12B98A;

    --gc-banding-low: #490080;
    --gc-banding-high: #1bffa0;

    --text-color: rgba(255, 255, 255, 0.7);
    --text-additive-blending: 1.0; /* set to 0.0 for dark text colors */
}