.hpgv {
    color: #364565;
    box-sizing: border-box;
    font-family: Mada, sans-serif;
}

.hpgv_ui-block {
    color: #364565;
    background-color: #e8ebf1;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #09004a3b;
    border: 1px #e1e6ef solid;
}

.hpgv_panel-header {
    font-weight: 200;
    font-size: 15px;
}

.hpgv_track-header {
    font-size: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.hpgv_track-close-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.hpgv_track-add-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.hpgv_track-expander {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    padding: 4px;
    cursor: pointer;
    line-height: 0;
}

.hpgv_track-expander > svg {
    display: block;
}

/* The following are draw via WebGL, so only the properties CSS used here can be changed */
.hpgv_panel {
    color: #737d94;
    font-size: 16px;
}

.hpgv_track {
    background-color: white;
    --loading-indicator: #8ea1bf;
    --cursor: #3645653b;
    --secondary-cursor: #3645653b;
}

.hpgv_track-annotation {
    --transcript-arrow: #36456530;
    /* --transcript:rgba(156, 163, 175, 0.13); */
    --coding: rgba(0, 44, 95, 0.79);
    --non-coding: rgba(79, 41, 140, 0.79);
    --untranslated: rgba(191, 184, 184, 0.53);

    --coding-max-score: rgba(52, 218, 255, 0.79);
    --non-coding-max-score: rgba(255, 0, 59, 0.79);;
}

.hpgv_track-sequence {
    --cursor: #ffffffcc;
    --loading-indicator: white;

    --nucleobase-a: #d06fa9;
    --nucleobase-t: #e89188;
    --nucleobase-g: #4bd897;
    --nucleobase-c: #44a4dc;

    --gc-banding-low: #d45591;
    --gc-banding-high: #60ffff;

    color: rgba(255, 255, 255, 0.7);
    --text-additive-blending: 1.0; /* set to 0.0 for dark text colors */
}

.hpgv_track-signal {
    --signal-color: #49a7f5;
}

.hpgv_track-variant {
    
}